button:disabled{
    background-color: red;
    color: white;
    cursor: pointer;
}
button:enabled{
    background-color: green;
    color: white;   
    width: 150px;
    cursor: pointer;
}

input:checked + .slider {
    background-color: rgb(61, 214, 22);
  }

  .odai img{
      height: 250px;
      width: 100%;
  }